@{
  Layout = "_Layout";
}

@using PierresShop.Models
@model PierresShop.Models.Treat

<h2>Add Flavor to @Model.Name</h2>

@using (Html.BeginForm())
{
  <h3>Select Flavor</h3>
  @Html.HiddenFor(model => model.TreatId)
  @Html.DropDownList("FlavorId", null, new { @class = "form-control"})
  <br>
  <input type="submit" value="Add Flavor to this Treat"/>
}
