@{
  Layout = "_Layout";
}

@using PierresShop.Models
@model PierresShop.Models.Flavor

<h2>Add a Treat to @Model.Name</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId", null, new { @class = "form-control"})
  <br>

  <input type="submit" value="Add Treat to this flavor"/>
}

